
main {
    padding: 32px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-icon {
    height: 50px;
    width: 50px;
    

    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
    border-radius: 50%;
}

nav>a{
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;


}

.banner-container {
    height: 350px;
    width: 100%;
    border: 1px solid;
}

.headquarter-content{
    display:flex;
    justify-content: space-evenly;

}

.headquarter-item {

    text-align: center;
    flex: 1;
    text-align: -webkit-center;

}

.headquarter-icon{

    height: 50px;
    width: 50px;


    background-size: cover;
    border-radius: 50%;

}

.headquarter-1 {

    background-image: url(../assets/Alex-Grey-2-Hads-Trippy-Image-via-Thingstolookathigh-com.jpg);
   
}

.headquarter-2{

    background-image: url(../assets/download.jpg);


}

.headquarter-3{

    background-image: url(../assets/images.jpg);
   
}

.divider{

    flex: 2;
}